@{
    ViewData["Title"] = "Placeholder";
}

<div class="text-center">
    <h1 class="display-4">This page is still in development</h1>
    <div class="tenor-gif-embed" data-postid="25368312" data-share-method="host" data-aspect-ratio="0.75" data-width="50%"><a href="https://tenor.com/view/oh-the-misery-oh-the-misery-everybody-wants-to-be-my-enemy-gif-25368312">Oh The Misery Oh The Misery Everybody Wants To Be My Enemy GIF</a>from <a href="https://tenor.com/search/oh+the+misery-gifs">Oh The Misery GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
