@*
*@
@{
}

<html><head>
<title>
</title>
<meta content="summary_large_image" name="twitter:card">
<meta content="website" property="og:type">
<meta content="" property="og:description">
<meta content="https://ctdi8mmqns.preview-postedstuff.com/V2-Gkjc-Z8NUW-2gZs-Yvfv/" property="og:url">
<meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/831977/815975/1716600/7845885_large.jpg" property="og:image">
<meta content="" property="og:title">
<meta content="" name="description">
<meta charset="utf-8">
<meta content="width=device-width" name="viewport">
<style>
   .bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-form .bee-form-row .bee-field button {
			font-size: inherit;
			font-family: inherit
		}

		.bee-row-1,
		.bee-row-2,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-8 {
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-col-1,
		.bee-row-1 .bee-col-2,
		.bee-row-1 .bee-col-3,
		.bee-row-1 .bee-col-4,
		.bee-row-2 .bee-col-1,
		.bee-row-2 .bee-col-2,
		.bee-row-2 .bee-col-3,
		.bee-row-2 .bee-col-4,
		.bee-row-3 .bee-col-1,
		.bee-row-3 .bee-col-2,
		.bee-row-3 .bee-col-3,
		.bee-row-3 .bee-col-4,
		.bee-row-4 .bee-col-1,
		.bee-row-4 .bee-col-2,
		.bee-row-4 .bee-col-3,
		.bee-row-4 .bee-col-4,
		.bee-row-5 .bee-col-1,
		.bee-row-5 .bee-col-2,
		.bee-row-5 .bee-col-3,
		.bee-row-5 .bee-col-4,
		.bee-row-6 .bee-col-1,
		.bee-row-6 .bee-col-2,
		.bee-row-6 .bee-col-3,
		.bee-row-6 .bee-col-4,
		.bee-row-7 .bee-col-1,
		.bee-row-7 .bee-col-2,
		.bee-row-7 .bee-col-3,
		.bee-row-7 .bee-col-4,
		.bee-row-8 .bee-col-1,
		.bee-row-8 .bee-col-2,
		.bee-row-8 .bee-col-3,
		.bee-row-8 .bee-col-4 {
			padding-top: 5px;
			padding-bottom: 5px
		}

		body {
			background-color: transparent;
			color: #000;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif
		}

		.bee-row-2 .bee-col-1 .bee-block-1 a,
		.bee-row-2 .bee-col-2 .bee-block-1 a,
		.bee-row-3 .bee-col-1 .bee-block-1 a,
		.bee-row-3 .bee-col-2 .bee-block-1 a,
		.bee-row-4 .bee-col-1 .bee-block-1 a,
		.bee-row-4 .bee-col-2 .bee-block-1 a,
		.bee-row-5 .bee-col-1 .bee-block-1 a,
		.bee-row-5 .bee-col-2 .bee-block-1 a,
		.bee-row-6 .bee-col-1 .bee-block-1 a,
		.bee-row-6 .bee-col-2 .bee-block-1 a,
		.bee-row-7 .bee-col-1 .bee-block-1 a,
		.bee-row-7 .bee-col-2 .bee-block-1 a,
		.bee-row-8 .bee-col-1 .bee-block-1 a,
		.bee-row-8 .bee-col-2 .bee-block-1 a,
		a {
			color: #8a3c90
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 1280px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w1 {
			flex-basis: 8%
		}

		.bee-row-content .bee-col-w9 {
			flex-basis: 75%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-row-2 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-2 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-3 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-3 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-4 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-4 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-5 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-5 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-6 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-6 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-7 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-7 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-8 .bee-col-3 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
		.bee-row-8 .bee-col-4 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]) {
			width: 100%
		}

		.bee-form .bee-form-row .bee-field {
			padding: 3px;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			align-items: center
		}

		.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]) {
			flex-grow: 1;
			font-family: inherit;
			font-size: inherit
		}

		.bee-form .bee-form-row .bee-field .bee-button-container {
			flex-grow: 1
		}

		.bee-form input[type=color] {
			border: none;
			height: 38px
		}

		.bee-form input[type=color]::-webkit-color-swatch-wrapper {
			margin: 0;
			padding: 2px
		}

		.bee-form input[type=color]::-webkit-color-swatch {
			margin: 0;
			padding: 0
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-icon-image {
			display: inline-block;
			vertical-align: middle;
			margin-right: -4px
		}

		.bee-icon .bee-icon-label-right {
			display: inline-block
		}

		.bee-paragraph {
			overflow-wrap: anywhere
		}

		.bee-row-1 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-7 .bee-row-content,
		.bee-row-8 .bee-row-content {
			background-repeat: no-repeat;
			color: #000
		}

		.bee-row-1 .bee-col-1 .bee-block-1,
		.bee-row-1 .bee-col-2 .bee-block-1,
		.bee-row-1 .bee-col-3 .bee-block-1,
		.bee-row-1 .bee-col-4 .bee-block-1 {
			width: 100%;
			text-align: center;
			padding-top: 55px
		}

		.bee-row-2 .bee-col-1 .bee-block-1,
		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-2 .bee-block-1,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-4 .bee-col-2 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-1 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-1 {
			padding: 20px
		}

		.bee-row-2 .bee-col-3 .bee-block-1,
		.bee-row-2 .bee-col-4 .bee-block-1,
		.bee-row-3 .bee-col-3 .bee-block-1,
		.bee-row-3 .bee-col-4 .bee-block-1,
		.bee-row-4 .bee-col-3 .bee-block-1,
		.bee-row-4 .bee-col-4 .bee-block-1,
		.bee-row-5 .bee-col-3 .bee-block-1,
		.bee-row-5 .bee-col-4 .bee-block-1,
		.bee-row-6 .bee-col-3 .bee-block-1,
		.bee-row-6 .bee-col-4 .bee-block-1,
		.bee-row-7 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-4 .bee-block-1,
		.bee-row-8 .bee-col-3 .bee-block-1,
		.bee-row-8 .bee-col-4 .bee-block-1 {
			font-size: 16px;
			text-align: center;
			font-family: inherit
		}

		.bee-row-2 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-8 .bee-col-1 .bee-block-1 {
			color: #101112;
			font-size: 15px;
			font-weight: 400;
			line-height: 120%;
			text-align: center;
			direction: ltr;
			letter-spacing: 0
		}

		.bee-row-2 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-2 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-3 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-3 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-4 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-4 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-5 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-5 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-8 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-8 .bee-col-2 .bee-block-1 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-3 .bee-col-2 .bee-block-1,
		.bee-row-4 .bee-col-2 .bee-block-1,
		.bee-row-5 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-1 {
			color: #101112;
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			text-align: center;
			direction: ltr;
			letter-spacing: 0
		}

		.bee-row-2 .bee-col-3 .bee-block-1,
		.bee-row-2 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-2 .bee-col-4 .bee-block-1,
		.bee-row-2 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-3 .bee-col-3 .bee-block-1,
		.bee-row-3 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-3 .bee-col-4 .bee-block-1,
		.bee-row-3 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-4 .bee-col-3 .bee-block-1,
		.bee-row-4 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-4 .bee-col-4 .bee-block-1,
		.bee-row-4 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-5 .bee-col-3 .bee-block-1,
		.bee-row-5 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-5 .bee-col-4 .bee-block-1,
		.bee-row-5 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-6 .bee-col-3 .bee-block-1,
		.bee-row-6 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-6 .bee-col-4 .bee-block-1,
		.bee-row-6 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-7 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-7 .bee-col-4 .bee-block-1,
		.bee-row-7 .bee-col-4 .bee-block-1 .bee-button-container,
		.bee-row-8 .bee-col-3 .bee-block-1,
		.bee-row-8 .bee-col-3 .bee-block-1 .bee-button-container,
		.bee-row-8 .bee-col-4 .bee-block-1,
		.bee-row-8 .bee-col-4 .bee-block-1 .bee-button-container {
			text-align: "center"
		}

		.bee-row-2 .bee-col-3 .bee-block-1 form,
		.bee-row-2 .bee-col-4 .bee-block-1 form,
		.bee-row-3 .bee-col-3 .bee-block-1 form,
		.bee-row-3 .bee-col-4 .bee-block-1 form,
		.bee-row-4 .bee-col-3 .bee-block-1 form,
		.bee-row-4 .bee-col-4 .bee-block-1 form,
		.bee-row-5 .bee-col-3 .bee-block-1 form,
		.bee-row-5 .bee-col-4 .bee-block-1 form,
		.bee-row-6 .bee-col-3 .bee-block-1 form,
		.bee-row-6 .bee-col-4 .bee-block-1 form,
		.bee-row-7 .bee-col-3 .bee-block-1 form,
		.bee-row-7 .bee-col-4 .bee-block-1 form,
		.bee-row-8 .bee-col-3 .bee-block-1 form,
		.bee-row-8 .bee-col-4 .bee-block-1 form {
			display: inline-block;
			width: 100%
		}

		.bee-row-2 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-2 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-3 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-3 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-4 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-4 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-5 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-5 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-6 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-6 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-7 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-7 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-8 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]),
		.bee-row-8 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
			color: #000;
			background-color: #fff;
			border-top: 1px solid #000;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			padding: 5px;
			border-radius: 0;
			min-height: 42px
		}

		.bee-row-2 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-2 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-3 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-3 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-4 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-4 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-5 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-5 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-6 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-6 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-7 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-7 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-8 .bee-col-3 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus,
		.bee-row-8 .bee-col-4 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus {
			outline-color: #8a3c90
		}

		.bee-row-2 .bee-col-4 .bee-block-1 button,
		.bee-row-3 .bee-col-4 .bee-block-1 button,
		.bee-row-4 .bee-col-4 .bee-block-1 button,
		.bee-row-5 .bee-col-4 .bee-block-1 button,
		.bee-row-6 .bee-col-4 .bee-block-1 button,
		.bee-row-7 .bee-col-4 .bee-block-1 button,
		.bee-row-8 .bee-col-4 .bee-block-1 button {
			background-color: #8a3c90;
			border-radius: 4px;
			border-top: 0 solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 0 solid transparent;
			border-left: 0 solid transparent;
			color: #fff;
			line-height: 200%;
			width: 100%;
			letter-spacing: normal;
			padding: 5px 20px
		}

		.bee-row-3 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-3 .bee-block-1 button,
		.bee-row-3 .bee-col-3 .bee-block-1 button,
		.bee-row-4 .bee-col-3 .bee-block-1 button,
		.bee-row-5 .bee-col-3 .bee-block-1 button,
		.bee-row-6 .bee-col-3 .bee-block-1 button,
		.bee-row-7 .bee-col-3 .bee-block-1 button,
		.bee-row-8 .bee-col-3 .bee-block-1 button {
			background-color: #503350;
			border-radius: 4px;
			border-top: 0 solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 0 solid transparent;
			border-left: 0 solid transparent;
			color: #fff;
			line-height: 200%;
			width: 100%;
			letter-spacing: normal;
			padding-bottom: 5px;
			padding-left: 20px
		}

		.bee-row-2 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-2 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-6 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-3 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-4 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-5 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-7 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-4 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-4 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-4 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-4 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-3 .bee-block-1 ::-webkit-input-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-3 .bee-block-1 :-moz-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-3 .bee-block-1 ::-moz-placeholder {
			color: #000
		}

		.bee-row-8 .bee-col-3 .bee-block-1 :-ms-input-placeholder {
			color: #000
		}
  </style>
</head>
<body>
<div class="bee-page-container">
<div class="bee-row bee-row-1">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-heading">
<h1 style="color:#000000;font-size:15px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:120%;text-align:center;direction:ltr;font-weight:700;letter-spacing:normal;margin-top:0;margin-bottom:0;">
<span class="tinyMce-placeholder">
         Day&ZeroWidthSpace;
        </span>
</h1>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-heading">
<h1 style="color:#000000;font-size:15px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:120%;text-align:center;direction:ltr;font-weight:700;letter-spacing:normal;margin-top:0;margin-bottom:0;">
<span class="tinyMce-placeholder">
         Date
        </span>
</h1>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-heading">
<h1 style="color:#000000;font-size:15px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:120%;text-align:center;direction:ltr;font-weight:700;letter-spacing:normal;margin-top:0;margin-bottom:0;">
<span class="tinyMce-placeholder">
         Hours
        </span>
</h1>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-heading">
<h1 style="color:#000000;font-size:15px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:120%;text-align:center;direction:ltr;font-weight:700;letter-spacing:normal;margin-top:0;margin-bottom:0;">
<span class="tinyMce-placeholder">
         Notes
        </span>
</h1>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-2">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        MON
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_v4gbaw">
<input id="id_v4gbaw" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_l7ymj5">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_2ecnoy">
<input id="id_2ecnoy" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_w1ji8r">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-3">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        TUE
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_46bfb6">
<input id="id_46bfb6" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_51ppsf">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_a6wgeh">
<input id="id_a6wgeh" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_akmdzo">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-4">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        WED
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_mk9dfj">
<input id="id_mk9dfj" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_c1k6ph">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_c2pk7z">
<input id="id_c2pk7z" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_5kf1ue">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-5">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        THU
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_3dciuu">
<input id="id_3dciuu" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_3fdfyw">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_xtg8s6">
<input id="id_xtg8s6" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_91dyyk">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-6">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        FRI
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_yg3gkw">
<input id="id_yg3gkw" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_ias6sv">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_fulmgr">
<input id="id_fulmgr" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_v9iofr">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-7">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        SAT
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_a9avzz">
<input id="id_a9avzz" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_cnk6ch">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_uhbdby">
<input id="id_uhbdby" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_jbekhv">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-8">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        SUN
       </p>
</div>
</div>
<div class="bee-col bee-col-2 bee-col-w1">
<div class="bee-block bee-block-1 bee-paragraph">
<p>
        NULL
       </p>
</div>
</div>
<div class="bee-col bee-col-3 bee-col-w1">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_ejvt7v">
<input id="id_ejvt7v" min="0" name="email" type="number">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_cxzuwc">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
<div class="bee-col bee-col-4 bee-col-w9">
<div class="bee-block bee-block-1 bee-form">
<form accept-charset="UTF-8" action="ACTION_PLACEHOLDER" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
<div class="bee-form-row">
<div class="bee-field bee-field-id_c4b4li">
<input id="id_c4b4li" name="email" type="text">
</div>
</div>
<div class="bee-form-row">
<div class="bee-field bee-field-id_n787lp">
<div class="bee-button-container">
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-9">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w12">
<div class="bee-block bee-block-1 bee-icons" id="beepro-locked-footer">
<div class="bee-icon">
</div>
</div>
</div>
</div>
</div>
</div>

</body></html>
