@page
@model Puna_Rock.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}
@*<h1>@ViewData["Title"]</h1>*@
<main id="main" class="site-main wpex-clr">

				
<header class="page-header background-image-page-header has-bg-image bg-cover wpex-relative wpex-mb-40 wpex-flex wpex-items-center wpex-flex-wrap wpex-bg-gray-900 wpex-text-white wpex-text-center">

	<div class="background-image-page-header-overlay style-dark wpex-z-0 wpex-bg-black wpex-absolute wpex-inset-0 wpex-opacity-50"></div>
	<div class="page-header-inner container wpex-py-20 wpex-z-5 wpex-relative">
<div class="page-header-content">

<h1 class="page-header-title wpex-block wpex-m-0 wpex-inherit-font-family wpex-not-italic wpex-tracking-normal wpex-leading-normal wpex-font-normal wpex-text-7xl wpex-text-white" itemprop="headline">

	<span>Products</span>

</h1>


<div class="page-subheading wpex-last-mb-0 wpex-text-3xl wpex-text-white wpex-font-light">Cinders, Landscape Rock, Sand &amp; Gravel</div></div></div>
	
</header>

	<div id="content-wrap" class="container wpex-clr">

		
		<div id="primary" class="content-area wpex-clr">

			
			<div id="content" class="site-content wpex-clr">

				
				
<article id="single-blocks" class="single-page-article wpex-clr">
<div class="single-page-content single-content entry wpex-clr"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vcex-spacing wpex-w-100 wpex-clear"></div><h2 class="vcex-heading vcex-module wpex-text-2xl wpex-font-normal wpex-m-auto wpex-max-w-100 vcex-heading-bottom-border-w-color wpex-block wpex-text-center wpex-border-b-2 wpex-border-solid wpex-border-main"><span class="vcex-heading-inner wpex-inline-block wpex-clr wpex-relative wpex-pb-5 wpex-border-b-2 wpex-border-solid wpex-border-accent">Product List</span></h2></div></div></div></div><div id="product-list" class="vc_section"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/General-Fill.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/General-Fill-300x200.jpg" width="300" height="200" alt="General Fill" title="General Fill"></a><figcaption class="vc_figure-caption">General Fill</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>General Fill (Rock &amp; Dirt Fill) – $18.50/ton</h4>
<p>General Fill is mainly used to fill areas where land needs to be raised or areas where large holes need to be filled at a fraction of the cost. This item is a rock and dirt fill where there is no particular size or ratio to rock and dirt, rocks may vary in size.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Pit-Run-300x200.jpg" width="300" height="200" alt="Pit Run" title="Pit Run"></div><figcaption class="vc_figure-caption">Pit Run</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Pit Run (Crusher Raw Material)&nbsp; – $21.50/ton</h4>
<p>Pit run like General fill is used to fill larger areas or to level or raise land. However, unlike general fill it’s mainly made up of broken rock with minimal amount of dirt. Pit Run is mainly what we process in our crushing plant. Pit Run is sized from 36″ and smaller. Pit run will need to be moved with some type of heavy equipment. Please make sure with your contractor if using any of these two items that this is what the job requires.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/6”-minus-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/6”-minus-1-300x200.jpg" width="300" height="200" alt="6” minus" title="6” minus"></a><figcaption class="vc_figure-caption">6” minus</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>6″ Minus – $23.00/ton</h4>
<p>The most common and most readily used of the fills. Smaller equipment maybe used to handle this material such as mini excavators and skid steers.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/2.5”-Base-Course-300x200.jpg" width="300" height="200" alt="2.5” Base Course" title="2.5” Base Course"></div><figcaption class="vc_figure-caption">2.5” Base Course</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>2 1/2″ Base Course – $24.00/ton</h4>
<p>Also commonly referred to as 2 ½ Select Borrow or 2 ½” minus, it is 2 ½” rocks down to fines. Most times used as fill or a compatible base layer in areas where 6″ minus is too large.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/1.5”-Base-Course.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/1.5”-Base-Course-300x200.jpg" width="300" height="200" alt="1.5” Base Course" title="1.5” Base Course"></a><figcaption class="vc_figure-caption">1.5” Base Course</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>1 1/2″ Base Course – $ 24.50/ton</h4>
<p>Also commonly referred to as 1 ½” minus, it is 1 ½” rocks down to fines It can be used as a second layer on top of 6″ minus or 2 1/2″ Base course under a house pad or can be used for driveways, parking areas or leveling areas where not much material is needed.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/3-4”-Base-Course.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/3-4”-Base-Course-300x200.jpg" width="300" height="200" alt="3/4” Base Course" title="3-4” Base Course"></a><figcaption class="vc_figure-caption">3/4” Base Course</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>3/4 Base Course – $25.50/ton</h4>
<p>3/4 Base Course or 3/4 minus is 3/4 size rocks all the way down to fines/sand. It is mainly for compaction and generally used for a base under asphalt or concrete applications or as a finished layer on larger size base course. Can be used for driveways or parking area applications but is not a wear material so overtime rocks will need to be reapplied depending on the amount of traffic. Base course is not recommended for areas of water run offs or areas with mud.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/S4C.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/S4C-300x200.jpg" width="300" height="200" alt="S4C" title="S4C"></a><figcaption class="vc_figure-caption">S4C</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>S4C (1/2″ Minus) – $27.00/ton</h4>
<p>S4C is ½” rocks down to fines and compacted in layers. It is commonly used as a pipe cushion for metal and PVC pipes. Please check with local building codes for updates on suitable pipe cushion as building codes are often updated.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Concrete-Ag-Mix.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Concrete-Ag-Mix-300x200.jpg" width="300" height="200" alt="Concrete Ag Mix" title="Concrete Ag Mix"></a><figcaption class="vc_figure-caption">Concrete Ag Mix</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Concrete Agg Mix – $30.50/ton</h4>
<p>Concrete Agg Mix is a pre-blended material where in which all the homeowner needs to add is Portland cement and water. Our mix is blended at 60/40 ratio, 60% sand and 40% rock. However, different jobs may require the finish to be more coarse or fine, in that case, more sand or more rock may need to be added to this mix in order to achieve the mason’s final preference. Please check with your contractor on what they require. With this blend, you will achieve the 3/2/1 ratio which is 3 parts sand to 2 parts rock and 1 part cement. Depending on the strength of the final product please check with building codes or contractor different jobs require different strengths.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/3”-Drain-Rock.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/3”-Drain-Rock-300x200.jpg" width="300" height="200" alt="3” Drain Rock" title="3” Drain Rock"></a><figcaption class="vc_figure-caption">3” Drain Rock</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>2-1/2″ Drain Rock (Size #2) – $27.75/ton</h4>
<p>Also referred to as 2-1/2″ wash or clean rock, it is crushed rock ranging from 3″ to 3/8″. There are no fines in this material and will not compact unlike base course. This material is used in areas of water run offs, may be used to fill leech fields, landscaping and areas where mud exists on driveways and parking areas. 1 1/2″ Drain Rock may also be used in the same manner.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/1.5”-Drain-Rock.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/1.5”-Drain-Rock-300x200.jpg" width="300" height="200" alt="1.5” Drain Rock" title="1.5” Drain Rock"></a><figcaption class="vc_figure-caption">1.5” Drain Rock</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>1 1/2″ Drain Rock (Size #4) – $27.75/ton</h4>
<p>1 1/2″ Drain rock or often called clean or wash rock. Sizes range from 1 1/2″ to 3/8″ with no sand in the product. It is often used in areas with mud or areas affected by water run-off or settling. Product is often used for driveways, parking or landscape.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/8Chips.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/8Chips-240x200.jpg" width="240" height="200" alt="#8Chips" title="#8Chips"></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>#3B Fine (Size #67) – $28.25/ton</h4>
<p>Also referred to as 3/4″ clean or wash, 3B Fine or 3/4″ drain rock, it is crushed rock ranging from 7/8″ to 3/16″. Most common uses would be for landscaping, driveways and parking areas, areas with existing mud, and water run-off.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Photo-Jan-23-9-40-10-AM-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Photo-Jan-23-9-40-10-AM-1-300x200.jpg" width="300" height="200" alt="Photo Jan 23, 9 40 10 AM (1)" title="Photo Jan 23, 9 40 10 AM (1)"></a><figcaption class="vc_figure-caption">Photo Jan 23, 9 40 10 AM (1)</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>#3B Landscape (Size #5) – $30.25 per ton</h4>
<p>Uniform 3/4 Rock with no chips or sand, its primary use is landscape such as Japanese Rock Gardens. We do not recommend this product other than the sole purpose of landscaping.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/8B.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/8B-300x200.jpg" width="300" height="200" alt="8B" title="8B"></a><figcaption class="vc_figure-caption">8B</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>#8B Chips – $28.25/ton</h4>
<p>Most commonly referred to as pea gravel it is crushed rock ranging from ½” to 3/16”.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Sand.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Sand-300x200.jpg" width="300" height="200" alt="Sand" title="Sand"></a><figcaption class="vc_figure-caption">Sand</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>#4 Sand – $48.75/ton</h4>
<p>Most typical applications for #4 Sand is mixing concrete. It is also used for the dress layer or the cushion layer for water catchment liners and with new building codes. It is the only material that can be used as pipe cushion for copper and ABS piping. Please check with local building codes for updates on suitable pipe cushion as building codes are often updated.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Stonewall-Rock.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Stonewall-Rock-300x200.jpg" width="300" height="200" alt="Stonewall Rock" title="Stonewall Rock"></a><figcaption class="vc_figure-caption">Stonewall Rock</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>1-2 Man Rock (12″-24″ Stone Wall Rock) – $39.00/ton</h4>
<p>Most popular use is the building of a rock wall. The rocks are made from larger boulders broken down to sizes ranging from 12″ to 24″ but there will be other smaller rocks mixed in when loading from a front end loader, so keep in mind if you are looking for specific rocks, you must come down and hand pick them to meet your wall needs. Also when loading from a front end loader, it is hard to know how many of one or the other you will receive, so please keep in mind if you need a certain size its best to come and hand select your own.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Boulders-300x200.jpg" width="300" height="200" alt="Boulders" title="Boulders"></div><figcaption class="vc_figure-caption">Boulders</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Boulders – $39.00/ton</h4>
<p>Boulders range in a variety of sizes and shapes. We have many to choose from in our quarry. They are most often used as the centerpiece in a rock garden or as accents to your landscape design. When you decide that you need a boulder, please make sure you bring your hard hat with you and some type of marking ribbon that way we know that boulder is reserved for you. This is one of those items that you have to see it in order for you to know if it will work for your project.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/image0-300x200.jpeg" width="300" height="200" alt="image0" title="image0"></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Rip Rap (4″-12″) – $29.00/ton</h4>
<p>Rip Rap is stones ranging from 4″ – 12″ there is no sand in this product. Often used for rock or retaining walls.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/image0-300x200.jpeg" width="300" height="200" alt="image0" title="image0"></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Rip Rap (2″-6″) – $29.00/ton</h4>
<p>Stones ranging from 2″ – 6″.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Cinder-Soil-300x200.jpg" width="300" height="200" alt="Cinder Soil" title="Cinder Soil"></div><figcaption class="vc_figure-caption">Cinder Soil</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Pepeekeo Top Soil – $44.00/ton</h4>
<p>This top soil is from the Hamakua coast from the old sugar plantation. Great for gardening and planting.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Cinder-Soil.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Cinder-Soil-300x200.jpg" width="300" height="200" alt="Cinder Soil" title="Cinder Soil"></a><figcaption class="vc_figure-caption">Cinder Soil</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Cinder Soil – $52.00/ton</h4>
<p>Is a blend of the Pepeekeo top soil mixed with black and red cinders for aeration. Also great for gardening and planting and is already blended at a 50/50 ratio.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Black-Cinder.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Black-Cinder-300x200.jpg" width="300" height="200" alt="Black Cinder" title="Black Cinder"></a><figcaption class="vc_figure-caption">Black Cinder</figcaption>
		</figure>
	</div>
<div class="vcex-spacing wpex-w-100 wpex-clear" style="height:20px;"></div>
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Red-Cinder.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Red-Cinder-300x200.jpg" width="300" height="200" alt="Red Cinder" title="Red Cinder"></a><figcaption class="vc_figure-caption">Red Cinder</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Cinder (1” Minus Black) – $59.00/ton or</h4>
<h4>(3/8” Minus Red) – $49.00/ton</h4>
<p>A byproduct of lava, cinders is a light airy material that has many uses for landscaping to potted plants. Red Cinder is significantly heavier than black cinder.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_  wpex-lightbox">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://punarock.com/wp-content/uploads/Mac-Compost.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://punarock.com/wp-content/uploads/Mac-Compost-300x200.jpg" width="300" height="200" alt="Macnut Compost" title="Mac Compost"></a><figcaption class="vc_figure-caption">Macnut Compost</figcaption>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Mac Nut Compost – $94.00/ton</h4>
<p>Used in addition with top soil or cinder soil, it is something that every farmer or home gardener should have. It is made up of mac nuts husks and other vegetation from the mac nut fields which then composted for a year’s time in some cases longer and yields a dark rich black color full of nutrients for your plants and vegetables.</p>

		</div>
	</div>
</div></div></div></div></div>
</div>

</article>
				
			</div>

			
		</div>

		
	</div>


			
		</main>
