@page
@model Puna_Rock.Pages.Tab_1Model
@{
}

<div class="text-center">
    <h2>Tab 3</h2>
</div>
<div>
    <form method="post">
        <label for="date">Date:</label>
          <input type="date" id="date" name="date">
      <br/>
      <br/>
          <label for="EquipNo">Equipment Number:</label><br/>
          <input type="radio" id="cat375" name="EquipNo" value="Cat375">
          <label for="cat375">Cat375</label><br>
          <input type="radio" id="cat325d" name="EquipNo" value="Cat325D">
          <label for="cat325d">Cat325D</label><br>
          <input type="radio" id="cat330c" name="EquipNo" value="Cat330C">
          <label for="cat330c">Cat330C</label><br>
          <input type="radio" id="pc750.1" name="EquipNo" value="PC750.1">
          <label for="pc750.1">PC750.1</label><br>
          <input type="radio" id="pc750.2" name="EquipNo" value="PC750.2">
          <label for="pc750.2">PC750.2</label><br>
          <input type="radio" id="pc650.2" name="EquipNo" value="PC650.2">
          <label for="pc650.2">PC650.2</label>
      <br/>
      <br/>
      <label for="hourmeter">Hour Meter Reading:</label>
        <input type="text" name="hourmeter" value="" />
      <br/>
      <br/>
      <input type="submit" name="submit" value="Submit" />
    </form>
</div>