<div id="QueryForm" style="display: inline">
    <form id="query" method="post" runat="server">
        <label for="query">Find a Form</label>
        <input name="query" type="number" min="0">
        <input type="submit" id="submit" name="submit" value="Find Form" placeholder="Enter Form Number" />
    </form>
</div>
<br />